<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>AdvCAPTCHA survey</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">  
      <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <form id = 'first_form' method="post" action="demographic_control">
    <div id="msform">   
      <ul id="progressbar">
        <li class="active">Demographic</li>
        <li>練習</li>
        <li>Prototype 1</li>
        <li>Feedback 1</li>
        <li>Prototype 2</li>
        <li>Feedback 2</li>
        <li>Prototype 3</li>
        <li>Feedback 3</li>
        <li>Prototype 4</li>
        <li>Feedback 4</li>
        <li>Finish</li>
      </ul>
      
      <fieldset>
        <h2 class="fs-title">歡迎您參與本研究!</h2>
        <p>研究即將開始，請稍等研究員之指示！</p> 
          <input name="table_id" id="table_id" type="hidden" value={{table_id}} />
          <input name="start_time" id="start_time" type="hidden" value="" />
          <input type="button" name="entry" class="entry action-button" value="開始進行測驗" onclick="on_submit();"/>
        </div>
      </fieldset>
    </div>
  </form>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <script  src="js/index.js"></script>
    <script>
      function on_submit(){
        document.getElementById('start_time').value = Date.now();
        document.getElementById("first_form").submit();
      }
    </script>
</body>

</html>
