<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>AdvCAPTCHA survey</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">  
      <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <form id = "finalform" method="post" action="post_question">
  <div id="msform">
    <ul id="progressbar">
      <li class="active">Demographic</li>
      <li class="active">練習</li>
      <li class="active">Prototype 1</li>
      <li class="active">Feedback 1</li>
      <li class="active">Prototype 2</li>
      <li class="active">Feedback 2</li>
      <li class="active">Prototype 3</li>
      <li class="active">Feedback 3</li>
      <li class="active">Prototype 4</li>
      <li class="active">Feedback 4</li>
      <li class="active">Finish</li>
    </ul>
  <fieldset>
    <h2 class="fs-title">測驗結束，請給予我們最後的回饋!</h2>
    
    <input name="late" id="late" type="hidden" value="" />
    <input name="table_id" id="table_id" type="hidden" value="{{table_id}}" />
    <input name="spot_id" id="spot_id" type="hidden" value="{{spot_id}}" />
    <input name="group" id="group" type="hidden" value="{{group}}" />
    <input name="task_order" id="task_order" type="hidden" value="{{task_order}}" />

    <input name="answer1" id="answer1" type="hidden" value="" />
    <input name="answer2" id="answer2" type="hidden" value="" />
    <input name="answer3" id="answer3" type="hidden" value="" />
    <input name="answer4" id="answer4" type="hidden" value="" />


    
    <p style = "font-weight: bold;">(*)請按照您的喜好程度，排序您剛剛測試的所有 Audio Captcha，最喜歡的放在最上面，依序排列下去。</p><br>
    <ul id="input_ul">
      <li class="ui-state"><span>&#x21C5;</span><input type="text" disabled/><audio id="{{file_address1_1}}" controls preload src="{{file_address1_1}}">
        Your browser does not support the audio element.
      </audio></li>
      <li class="ui-state"><span>&#x21C5;</span><input type="text" disabled/><audio id="{{file_address2_1}}" controls preload src="{{file_address2_1}}">
        Your browser does not support the audio element.
      </audio></li>
      <li class="ui-state"><span>&#x21C5;</span><input type="text" disabled/><audio id="{{file_address3_1}}" controls preload src="{{file_address3_1}}">
        Your browser does not support the audio element.
      </audio></li>
      <li class="ui-state"><span>&#x21C5;</span><input type="text" disabled/><audio id="{{file_address4_1}}" controls preload src="{{file_address4_1}}">
        Your browser does not support the audio element.
      </audio></li>
    </ul>

      
    <br><br>


    <label class="statement">(*)請簡述您把該 Audio CAPTCHA 放在第一位（最喜歡）的原因：</label>
    <input type="text" name="reasontolove" />

    <label class="statement">(*)請簡述您把該 Audio CAPTCHA 放在最後第一位（最不喜歡）的原因：</label>
    <input type="text" name="reasontohate" />

    <br><br><br><br>
    <p>非常感謝您參與本實驗，接下來之資訊為研究團隊為您申報實驗報酬所使用之資訊，請如實填答以免報酬給予失敗，此一資訊不會挪為他用並在報酬發送後刪除！</p>
    <label for="name">名字</label><input type="text" id="name" name="name" placeholder="名字" required/>
    <label for="email">Email</label><input type="email" id="email" name="email" placeholder="Email" required/>

    <input type="button" name="btnsubmit" class="submit action-button" value="Complete" onclick="tosubmit()"/>

  </fieldset>
</form>
</div>



<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<script>
  var timer = setTimeout(function() {
      document.getElementById('late').value = 'yes';
      document.getElementById("finalform").submit();
    }, 3600000);
</script>

<script>  

sort_ul = $('#input_ul');
itemsCount = $('#input_ul li').length;

function updateIndexes(){
    $('li input').each(function(i){
              $(this).val(i+1);
          });
}

updateIndexes();
         
sort_ul.sortable({handle:'span',
                  stop:function(event,ui){ updateIndexes(); }
});


function tosubmit(){
  var answer1 = document.getElementsByClassName("ui-state")[0].lastChild.id;
  var answer2 = document.getElementsByClassName("ui-state")[1].lastChild.id;
  var answer3 = document.getElementsByClassName("ui-state")[2].lastChild.id;
  var answer4 = document.getElementsByClassName("ui-state")[3].lastChild.id;

  document.getElementById('answer1').value = answer1;
  document.getElementById('answer2').value = answer2;
  document.getElementById('answer3').value = answer3;
  document.getElementById('answer4').value = answer4;

  console.log(answer1);
  console.log(answer2);
  console.log(answer3);
  console.log(answer4);

  document.getElementById("finalform").submit();
}


$('li input').keyup(function(event) {
  if(event.keyCode == '13'){      
    event.preventDefault();
      
    order = parseInt($(this).val());
      
    li = $(this).parent();
    if(order>=1 && order <= itemsCount){      
        
        li.effect('drop', function(){
            li.detach();
                
            if(order == itemsCount)
                sort_ul.append(li);
            else
                li.insertBefore($('#input_ul li:eq('+(order-1)+')'));
            
            updateIndexes();
            li.effect('slide');
        });
    }else{
        li.effect('highlight');
    }
  }    
});
</script>
</body>



</html>
