<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>AdvCAPTCHA survey</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">  
      <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

  <form id = "myform" method="post" action="/submit">
  <div id="msform">
    <!-- progressbar -->
    <ul id="progressbar">
      <li class="active">Demographic</li>
      <li class="active">練習</li>
      <li>Prototype 1</li>
      <li>Feedback 1</li>
      <li>Prototype 2</li>
      <li>Feedback 2</li>
      <li>Prototype 3</li>
      <li>Feedback 3</li>
      <li>Prototype 4</li>
      <li>Feedback 4</li>
      <li>Finish</li>
    </ul>
      <fieldset>
          <h1 class="fs-title" style="font-size:24px">實驗練習與介紹</h1>
          <p style= "line-height: 1.5;">在待會的實驗中，您總共會測試 4 種不同的 Audio CAPTCHA，每一種 Audio CAPTCHA 共會完成 3 個不同的題目，共 12 道 Audio CAPTCHA 題目。每完成一種語音驗證碼，您會回答關於該種語音驗證碼時的體驗：如 ”好不好用“、及 ”難不難回答“ 等等，以及您對於該語音驗證碼之建議與回饋。
            <br><br>
            為了讓您熟悉本實驗之研究介面，此一頁面與您待會在正式實驗中所會採用的介面相同以供您進行練習。請確保您處於一個可以正常聆聽語音之環境，利用下方練習試題進行音量之調整。
            <br><br>
            回答下列練習試題後，從下一頁開始為正式研究。
            <br><br>
            <b style="color:red">註：為確保本實驗之參與品質，若我們有偵測到「非正常」之回覆行為（例：異常回覆時間），我們將不給予實驗受測費用。</b>
            <br><br>按下「播放鍵」後，請輸入您所聽到的數字：
          </p>
          <audio id="0_1" controls preload src="{{practice}}" onplay="audio_play('0'); focustext('pro0');">
              Your browser does not support the audio element.
          </audio>
          <br/>

          <!-- record table id and participant's id -->
          <input name="late" id="late" type="hidden" value="" />
          <input name="table_id" id="table_id" type="hidden" value="{{table_id}}" />
          <input name="spot_id" id="spot_id" type="hidden" value="{{spot_id}}" />
          <input name="group" id="group" type="hidden" value="{{group}}" />
          <input name="task_order" id="task_order" type="hidden" value="{{task_order}}" />

          <!-- record captcha id and question type (ABC) and the ground truth -->
          <input name="captcha_type0" id="captcha_type0" type="hidden" value="{{captcha_type0}}" />
          <input name="task_type0" id="task_type0" type="hidden" value="{{task_type0}}" />
          <input name="ground_truth0" id="ground_truth0" type="hidden" value="{{ground_truth0}}" />
          <input name="file_address0" id="file_address0" type="hidden" value="{{practice}}" />
          
          <!-- task data including user's answer, time elasped, and click counts -->
          <input type="text" name="pro0" id="pro0" placeholder="請輸入聽到的數字" onblur="record_end('0')" onfocus="playonCtrl(this, '0_1')"/>
          <input name="0" id="0" type="hidden" value=""/>
          <input name="c0" id="c0" type="hidden" value=""/>
          <input type="button" id="pronext0" name="next" class="next action-button" value="Next"/>
      </fieldset>

      <fieldset class="prototypecard">
          <h2 class="fs-title">Prototype - Math</h2>
          <h3 id="sub1" class="fs-subtitle">第一題</h3>
          <div id="instance1_1">
            按下「播放鍵」後，請輸入您所聽到的數字：<br/>
              <audio id="1_1" controls preload src="{{instance1_1}}" onplay="audio_play('11'); focustext('pro1_1');">
                  Your browser does not support the audio element.
              </audio>
              <br/>
              <!-- record captcha id and question type (ABC) and the ground truth -->
              <input name="file_address1_1" id="file_address1_1" type="hidden" value="{{instance1_1}}" />
              <input name="captcha_type1_1" id="captcha_type1_1" type="hidden" value="{{captcha_type1_1}}" />
              <input name="task_type1_1" id="task_type1_1" type="hidden" value="{{task_type1_1}}" />
              <input name="ground_truth1_1" id="ground_truth1_1" type="hidden" value="{{ground_truth1_1}}" />
              
              <!-- task data including user's answer, time elasped, and click counts -->
              <input type="text" name="pro1_1" id="pro1_1" onblur="record_end('11')" onfocus="playonCtrl(this, '1_1')"/><br/>
              <input name="11" id="11" type="hidden" value=""/>
              <input name="c11" id="c11" type="hidden" value=""/>
          </div>
          <div id="instance1_2" style="display: none;">
            按下「播放鍵」後，請輸入您所聽到的數字：<br/>
              <audio id="1_2" controls preload onplay="audio_play('12');focustext('pro1_2');">
                  <source src="{{instance1_2}}" type="audio/mpeg">
                  Your browser does not support the audio element.
              </audio>
              <!-- record captcha id and question type (ABC) and the ground truth -->
              <input name="file_address1_2" id="file_address1_2" type="hidden" value="{{instance1_2}}" />
              <input name="captcha_type1_2" id="captcha_type1_2" type="hidden" value="{{captcha_type1_2}}" />
              <input name="task_type1_2" id="task_type1_2" type="hidden" value="{{task_type1_2}}" />
              <input name="ground_truth1_2" id="ground_truth1_2" type="hidden" value="{{ground_truth1_2}}" />
              
              <!-- task data including user's answer, time elasped, and click counts -->
              <input type="text" name="pro1_2" id="pro1_2" onblur="record_end('12')" onfocus="playonCtrl(this, '1_2')"/><br/>
              <input name="12" id="12" type="hidden" value=""/>
              <input name="c12" id="c12" type="hidden" value=""/>
          </div>
          <div id="instance1_3" style="display: none;">
            按下「播放鍵」後，請輸入您所聽到的數字：<br/>
              <audio id="1_3" controls preload onplay="audio_play('13');focustext('pro1_3');">
                  <source src="{{instance1_3}}" type="audio/mpeg">
                  Your browser does not support the audio element.
              </audio>
              <!-- record captcha id and question type (ABC) and the ground truth -->
              <input name="file_address1_3" id="file_address1_3" type="hidden" value="{{instance1_3}}" />
              <input name="captcha_type1_3" id="captcha_type1_3" type="hidden" value="{{captcha_type1_3}}" />
              <input name="task_type1_3" id="task_type1_3" type="hidden" value="{{task_type1_3}}" />
              <input name="ground_truth1_3" id="ground_truth1_3" type="hidden" value="{{ground_truth1_3}}" />
              
              <!-- task data including user's answer, time elasped, and click counts -->
              <input type="text" name="pro1_3" id="pro1_3" onblur="record_end('13')" onfocus="playonCtrl(this, '1_3')"/><br/>
              <input name="13" id="13" type="hidden" value=""/>
              <input name="c13" id="c13" type="hidden" value=""/>
          </div>

          <input type="button" id="instance1" name="next" class="prototype action-button" value="Next"
                 onclick="hideCaptcha1()"/>
          <input type="button" id="pronext1" name="next" class="next action-button" value="Next"
                 style="display: none;"/>
      </fieldset>

      <fieldset class="feedbackcard">
          <h2 class="fs-title">Feedback1</h2>
          <h3 class="fs-subtitle">請回答以下問題（皆必填）</h3>
          <label class="statement">(*)請問您喜歡剛剛測試的 Audio Captcha 嗎？（1: 非常不喜歡; 7: 非常喜歡）</label>
          <ul class='likert'>
          <li>
            <input type="radio" name="likert_fb1_1" value="1" checked>
            <label>1</label>
          </li>
          <li>
            <input type="radio" name="likert_fb1_1" value="2">
            <label>2</label>
          </li>
          <li>
            <input type="radio" name="likert_fb1_1" value="3">
            <label>3</label>
          </li>
          <li>
            <input type="radio" name="likert_fb1_1" value="4">
            <label>4</label>
          </li>
          <li>
            <input type="radio" name="likert_fb1_1" value="5">
            <label>5</label>
          </li>
          </ul>
          <label class="statement">(*)請問您剛剛測試的 Audio Captcha 容易回答嗎？（1: 非常難回答; 7: 非常好回答）</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="likert_fb1_2" value="1" checked>
              <label>1</label>
            </li>
            <li>
              <input type="radio" name="likert_fb1_2" value="2">
              <label>2</label>
            </li>
            <li>
              <input type="radio" name="likert_fb1_2" value="3">
              <label>3</label>
            </li>
            <li>
              <input type="radio" name="likert_fb1_2" value="4">
              <label>4</label>
            </li>
            <li>
              <input type="radio" name="likert_fb1_2" value="5">
              <label>5</label>
            </li>
            </ul>

          <label class="statement">(*)請問您認為這個 Audio Captcha 有什麼優點，讓你覺得喜歡或容易回答？</label>
          <input type="text" name="text_fb1_1" id = "text_fb1_1"/>

          <!-- <label class="statement">Do you prefer the current alphanumeric audio CAPTCHAs you already use relative to this design?</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="likert_fb1_3" value="yes"  checked>
              <label>Yes</label>
            </li>
            <li>
              <input type="radio" name="likert_fb1_3" value="no">
              <label>No</label>
            </li>
          </ul> -->
          <label class="statement">(*)請問您認為這個 Audio Captcha 有什麼缺點，讓你覺得不喜歡或難回答？</label>
          <input type="text" name="text_fb1_2" id = "text_fb1_2" />

          <label class="statement">對於這個 Audio Captcha 您是否有什麼建議以及想法可以分享給我們？</label>
          <input type="text" name="text_fb1_3" id = "text_fb1_3"/>

          <input type="button" id="feedbacknext1" name="next" class="next action-button" value="Next" />
    </fieldset>

    <fieldset class="prototypecard">
      <h2 class="fs-title">Prototype - Count</h2>
      <h3 id="sub2" class="fs-subtitle">第一題</h3>
      <div id="instance2_1">
        按下「播放鍵」後，請輸入您所聽到的數字： <br/>
        <audio id="2_1" controls preload  onplay="audio_play('21');focustext('pro2_1');">
          <source src="{{instance2_1}}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio><br />
        <!-- record captcha id and question type (ABC) and the ground truth -->
        <input name="file_address2_1" id="file_address2_1" type="hidden" value="{{instance2_1}}" />
        <input name="captcha_type2_1" id="captcha_type2_1" type="hidden" value="{{captcha_type2_1}}" />
        <input name="task_type2_1" id="task_type2_1" type="hidden" value="{{task_type2_1}}" />
        <input name="ground_truth2_1" id="ground_truth2_1" type="hidden" value="{{ground_truth2_1}}" />
        
        <!-- task data including user's answer, time elasped, and click counts -->
        <input type="text" name="pro2_1" id="pro2_1" onblur="record_end('21')" onfocus="playonCtrl(this, '2_1')"/><br />
        <input name="21" id="21" type="hidden" value=""/>
        <input name="c21" id="c21" type="hidden" value=""/>
      </div>
      <div id="instance2_2" style="display: none;">
        按下「播放鍵」後，請輸入您所聽到的數字： <br/>
        <audio id="2_2" controls preload  onplay="audio_play('22');focustext('pro2_2');">
          <source src="{{instance2_2}}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <!-- record captcha id and question type (ABC) and the ground truth -->
        <input name="file_address2_2" id="file_address2_2" type="hidden" value="{{instance2_2}}" />
        <input name="captcha_type2_2" id="captcha_type2_2" type="hidden" value="{{captcha_type2_2}}" />
        <input name="task_type2_2" id="task_type2_2" type="hidden" value="{{task_type2_2}}" />
        <input name="ground_truth2_2" id="ground_truth2_2" type="hidden" value="{{ground_truth2_2}}" />
        
        <!-- task data including user's answer, time elasped, and click counts -->
        <input type="text" name="pro2_2" id="pro2_2" onblur="record_end('22')" onfocus="playonCtrl(this, '2_2')"/><br />
        <input name="22" id="22" type="hidden" value=""/>
        <input name="c22" id="c22" type="hidden" value=""/>
      </div>
      <div id="instance2_3" style="display: none;">
        按下「播放鍵」後，請輸入您所聽到的數字： <br/>
        <audio id="2_3" controls preload  onplay="audio_play('23');focustext('pro2_3');">
          <source src="{{instance2_3}}"type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <!-- record captcha id and question type (ABC) and the ground truth -->
        <input name="file_address2_3" id="file_address2_3" type="hidden" value="{{instance2_3}}" />
        <input name="captcha_type2_3" id="captcha_type2_3" type="hidden" value="{{captcha_type2_3}}" />
        <input name="task_type2_3" id="task_type2_3" type="hidden" value="{{task_type2_3}}" />
        <input name="ground_truth2_3" id="ground_truth2_3" type="hidden" value="{{ground_truth2_3}}" />
        
        <!-- task data including user's answer, time elasped, and click counts -->
        <input type="text" name="pro2_3" id="pro2_3" onblur="record_end('23')" onfocus="playonCtrl(this, '2_3')"/><br />
        <input name="23" id="23" type="hidden" value=""/>
        <input name="c23" id="c23" type="hidden" value=""/>
      </div>

      <input type="button" id="instance2" name="next" class="prototype action-button" value="Next" onclick="hideCaptcha2()" />
      <input type="button" id="pronext2" name="next" class="next action-button" value="Next"  style="display: none;"/>
    </fieldset>

    <fieldset class="feedbackcard">
      <h2 class="fs-title">Feedback2</h2>
          <h3 class="fs-subtitle">請回答以下問題（皆必填）</h3>
          <label class="statement">(*)請問您喜歡剛剛測試的 Audio Captcha 嗎？（1: 非常不喜歡; 7: 非常喜歡）</label>
          <ul class='likert'>
          <li>
            <input type="radio" name="likert_fb2_1" value="1" checked>
            <label>1</label>
          </li>
          <li>
            <input type="radio" name="likert_fb2_1" value="2">
            <label>2</label>
          </li>
          <li>
            <input type="radio" name="likert_fb2_1" value="3">
            <label>3</label>
          </li>
          <li>
            <input type="radio" name="likert_fb2_1" value="4">
            <label>4</label>
          </li>
          <li>
            <input type="radio" name="likert_fb2_1" value="5">
            <label>5</label>
          </li>
          </ul>
          <label class="statement">(*)請問您剛剛測試的 Audio Captcha 容易回答嗎？（1: 非常難回答; 7: 非常好回答）</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="likert_fb2_2" value="1" checked>
              <label>1</label>
            </li>
            <li>
              <input type="radio" name="likert_fb2_2" value="2">
              <label>2</label>
            </li>
            <li>
              <input type="radio" name="likert_fb2_2" value="3">
              <label>3</label>
            </li>
            <li>
              <input type="radio" name="likert_fb2_2" value="4">
              <label>4</label>
            </li>
            <li>
              <input type="radio" name="likert_fb2_2" value="5">
              <label>5</label>
            </li>
            </ul>

          <label class="statement">(*)請問您認為這個 Audio Captcha 有什麼優點，讓你覺得喜歡或容易回答？</label>
          <input type="text" name="text_fb2_1" id="text_fb2_1"/>

          <!-- <label class="statement">Do you prefer the current alphanumeric audio CAPTCHAs you already use relative to this design?</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="likert_fb1_3" value="yes"  checked>
              <label>Yes</label>
            </li>
            <li>
              <input type="radio" name="likert_fb1_3" value="no">
              <label>No</label>
            </li>
          </ul> -->
          <label class="statement">(*)請問您認為這個 Audio Captcha 有什麼缺點，讓你覺得不喜歡或難回答？</label>
          <input type="text" name="text_fb2_2" id="text_fb2_2"/>

          <label class="statement">對於這個 Audio Captcha 您是否有什麼建議以及想法可以分享給我們？</label>
          <input type="text" name="text_fb2_3" id = "text_fb2_3"/>

          <input type="button" id="feedbacknext2" name="next" class="next action-button" value="Next" />
    </fieldset>

    <fieldset class="prototypecard">
      <h2 class="fs-title">Prototype - Control with pauses</h2>
      <h3 id="sub3" class="fs-subtitle">第一題</h3>
      <div id="instance3_1">
        按下「播放鍵」後，請輸入您所聽到的數字：<br/>
      <audio id="3_1" controls preload  onplay="audio_play('31');focustext('pro3_1');">
        <source src="{{instance3_1}}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio><br />
      <!-- record captcha id and question type (ABC) and the ground truth -->
      <input name="file_address3_1" id="file_address3_1" type="hidden" value="{{instance3_1}}" />
      <input name="captcha_type3_1" id="captcha_type3_1" type="hidden" value="{{captcha_type3_1}}" />
      <input name="task_type3_1" id="task_type3_1" type="hidden" value="{{task_type3_1}}" />
      <input name="ground_truth3_1" id="ground_truth3_1" type="hidden" value="{{ground_truth3_1}}" />
      
      <!-- task data including user's answer, time elasped, and click counts -->
      <input type="text" name="pro3_1" id="pro3_1" onblur="record_end('31')" onfocus="playonCtrl(this, '3_1')"/><br />
      <input name="31" id="31" type="hidden" value=""/>
      <input name="c31" id="c31" type="hidden" value=""/>
      </div>

      <div id="instance3_2" style="display: none;">
        按下「播放鍵」後，請輸入您所聽到的數字：<br/>
      <audio id="3_2" controls preload  onplay="audio_play('32');focustext('pro3_2');">
        <source src="{{instance3_2}}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <!-- record captcha id and question type (ABC) and the ground truth -->
      <input name="file_address3_2" id="file_address3_2" type="hidden" value="{{instance3_2}}" />
      <input name="captcha_type3_2" id="captcha_type3_2" type="hidden" value="{{captcha_type3_2}}" />
      <input name="task_type3_2" id="task_type3_2" type="hidden" value="{{task_type3_2}}"/>
      <input name="ground_truth3_2" id="ground_truth3_2" type="hidden" value="{{ground_truth3_2}}" />
      
      <!-- task data including user's answer, time elasped, and click counts -->
      <input type="text" name="pro3_2" id="pro3_2" onblur="record_end('32')" onfocus="playonCtrl(this, '3_2')"/><br />
      <input name="32" id="32" type="hidden" value=""/>
      <input name="c32" id="c32" type="hidden" value=""/>
      </div>
      <div id="instance3_3" style="display: none;">
        按下「播放鍵」後，請輸入您所聽到的數字：<br/>
      <audio id="3_3" controls preload  onplay="audio_play('33');focustext('pro3_3');">
        <source src="{{instance3_3}}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <!-- record captcha id and question type (ABC) and the ground truth -->
      <input name="file_address3_3" id="file_address3_3" type="hidden" value="{{instance3_3}}" />
      <input name="captcha_type3_3" id="captcha_type3_3" type="hidden" value="{{captcha_type3_3}}" />
      <input name="task_type3_3" id="task_type3_3" type="hidden" value="{{task_type3_3}}" />
      <input name="ground_truth3_3" id="ground_truth3_3" type="hidden" value="{{ground_truth3_3}}" />
      
      <!-- task data including user's answer, time elasped, and click counts -->
      <input type="text" name="pro3_3" id="pro3_3" onblur="record_end('33')"  onfocus="playonCtrl(this, '3_3')"/><br />
      <input name="33" id="33" type="hidden" value=""/>
      <input name="c33" id="c33" type="hidden" value=""/>
      </div>
      <input type="button" id="instance3" name="next" class="prototype action-button" value="Next" onclick="hideCaptcha3()" />
      <input type="button" id="pronext3" name="next" class="next action-button" value="Next"  style="display: none;"/>
    </fieldset>

    <fieldset class="feedbackcard">
      <h2 class="fs-title">Feedback3</h2>
          <h3 class="fs-subtitle">請回答以下問題（皆必填）</h3>
          <label class="statement">(*)請問您喜歡剛剛測試的 Audio Captcha 嗎？（1: 非常不喜歡; 7: 非常喜歡）</label>
          <ul class='likert'>
          <li>
            <input type="radio" name="likert_fb3_1" value="1" checked>
            <label>1</label>
          </li>
          <li>
            <input type="radio" name="likert_fb3_1" value="2">
            <label>2</label>
          </li>
          <li>
            <input type="radio" name="likert_fb3_1" value="3">
            <label>3</label>
          </li>
          <li>
            <input type="radio" name="likert_fb3_1" value="4">
            <label>4</label>
          </li>
          <li>
            <input type="radio" name="likert_fb3_1" value="5">
            <label>5</label>
          </li>
          </ul>
          <label class="statement">(*)請問您剛剛測試的 Audio Captcha 容易回答嗎？（1: 非常難回答; 7: 非常好回答）</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="likert_fb3_2" value="1" checked>
              <label>1</label>
            </li>
            <li>
              <input type="radio" name="likert_fb3_2" value="2">
              <label>2</label>
            </li>
            <li>
              <input type="radio" name="likert_fb3_2" value="3">
              <label>3</label>
            </li>
            <li>
              <input type="radio" name="likert_fb3_2" value="4">
              <label>4</label>
            </li>
            <li>
              <input type="radio" name="likert_fb3_2" value="5">
              <label>5</label>
            </li>
            </ul>

          <label class="statement">(*)請問您認為這個 Audio Captcha 有什麼優點，讓你覺得喜歡或容易回答？</label>
          <input type="text" name="text_fb3_1" id = "text_fb3_1"/>

          <!-- <label class="statement">Do you prefer the current alphanumeric audio CAPTCHAs you already use relative to this design?</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="likert_fb1_3" value="yes"  checked>
              <label>Yes</label>
            </li>
            <li>
              <input type="radio" name="likert_fb1_3" value="no">
              <label>No</label>
            </li>
          </ul> -->
          <label class="statement">(*)請問您認為這個 Audio Captcha 有什麼缺點，讓你覺得不喜歡或難回答？</label>
          <input type="text" name="text_fb3_2" id = "text_fb3_2"/>

          <label class="statement">對於這個 Audio Captcha 您是否有什麼建議以及想法可以分享給我們？</label>
          <input type="text" name="text_fb3_3" id = "text_fb3_3"/>

          <input type="button" id = "feedbacknext3" name="next" class="next action-button" value="Next" />
    </fieldset>

    <fieldset class="prototypecard">
      <h2 class="fs-title">Prototype - Sounds</h2>
      <h3 id="sub4" class="fs-subtitle">第一題</h3>
      <div id="instance4_1">
        按下「播放鍵」後，請輸入您所聽到的數字：<br/>
      <audio id="4_1" controls preload  onplay="audio_play('41');focustext('pro4_1');">
        <source src="{{instance4_1}}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio><br />
      <!-- record captcha id and question type (ABC) and the ground truth -->
      <input name="file_address4_1" id="file_address4_1" type="hidden" value="{{instance4_1}}" />
      <input name="captcha_type4_1" id="captcha_type4_1" type="hidden" value="{{captcha_type4_1}}"/>
      <input name="task_type4_1" id="task_type4_1" type="hidden" value="{{task_type4_1}}" />
      <input name="ground_truth4_1" id="ground_truth4_1" type="hidden" value="{{ground_truth4_1}}" />
      
      <!-- task data including user's answer, time elasped, and click counts -->
      <input type="text" name="pro4_1" id="pro4_1" onblur="record_end('41')" onfocus="playonCtrl(this, '4_1')"/><br />
      <input name="41" id="41" type="hidden" value=""/>
      <input name="c41" id="c41" type="hidden" value=""/>
      </div>
      <div id="instance4_2" style="display: none;">
        按下「播放鍵」後，請輸入您所聽到的數字：<br/>
      <audio id="4_2" controls preload  onplay="audio_play('42');focustext('pro4_2');">
        <source src="{{instance4_2}}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <!-- record captcha id and question type (ABC) and the ground truth -->
      <input name="file_address4_2" id="file_address4_2" type="hidden" value="{{instance4_2}}" />
      <input name="captcha_type4_2" id="captcha_type4_2" type="hidden" value="{{captcha_type4_2}}" />
      <input name="task_type4_2" id="task_type4_2" type="hidden" value="{{task_type4_2}}" />
      <input name="ground_truth4_2" id="ground_truth4_2" type="hidden" value="{{ground_truth4_2}}" />
      
      <!-- task data including user's answer, time elasped, and click counts -->
      <input type="text" name="pro4_2" id="pro4_2" onblur="record_end('42')" onfocus="playonCtrl(this, '4_2')"/><br />
      <input name="42" id="42" type="hidden" value=""/>
      <input name="c42" id="c42" type="hidden" value=""/>
      </div>
      <div id="instance4_3" style="display: none;">
        按下「播放鍵」後，請輸入您所聽到的數字：<br/>
      <audio id="4_3" controls preload  onplay="audio_play('43');focustext('pro4_3');">
        <source src="{{instance4_3}}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <!-- record captcha id and question type (ABC) and the ground truth -->
      <input name="file_address4_3" id="file_address4_3" type="hidden" value="{{instance4_3}}" />
      <input name="captcha_type4_3" id="captcha_type4_3" type="hidden" value="{{captcha_type4_3}}" />
      <input name="task_type4_3" id="task_type4_3" type="hidden" value="{{task_type4_3}}" />
      <input name="ground_truth4_3" id="ground_truth4_3" type="hidden" value="{{ground_truth4_3}}" />
      
      <!-- task data including user's answer, time elasped, and click counts -->
      <input type="text" name="pro4_3" id="pro4_3" onblur="record_end('43')" onfocus="playonCtrl(this, '4_3')"/><br />
      <input name="43" id="43" type="hidden" value=""/>
      <input name="c43" id="c43" type="hidden" value=""/>
      </div>
      <input type="button" id="instance4" name="next" class="prototype action-button" value="Next" onclick="hideCaptcha4()" />
      <input type="button" id="pronext4" name="next" class="next action-button" value="Next"  style="display: none;"/>
    </fieldset>

    <fieldset class="feedbackcard">
      <h2 class="fs-title">Feedback4</h2>
          <h3 class="fs-subtitle">請回答以下問題（皆必填）</h3>
          <label class="statement">(*)請問您喜歡剛剛測試的 Audio Captcha 嗎？（1: 非常不喜歡; 7: 非常喜歡）</label>
          <ul class='likert'>
          <li>
            <input type="radio" name="likert_fb4_1" value="1" checked>
            <label>1</label>
          </li>
          <li>
            <input type="radio" name="likert_fb4_1" value="2">
            <label>2</label>
          </li>
          <li>
            <input type="radio" name="likert_fb4_1" value="3">
            <label>3</label>
          </li>
          <li>
            <input type="radio" name="likert_fb4_1" value="4">
            <label>4</label>
          </li>
          <li>
            <input type="radio" name="likert_fb4_1" value="5">
            <label>5</label>
          </li>
          </ul>
          <label class="statement">(*)請問您剛剛測試的 Audio Captcha 容易回答嗎？（1: 非常難回答; 7: 非常好回答）</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="likert_fb4_2" value="1" checked>
              <label>1</label>
            </li>
            <li>
              <input type="radio" name="likert_fb4_2" value="2">
              <label>2</label>
            </li>
            <li>
              <input type="radio" name="likert_fb4_2" value="3">
              <label>3</label>
            </li>
            <li>
              <input type="radio" name="likert_fb4_2" value="4">
              <label>4</label>
            </li>
            <li>
              <input type="radio" name="likert_fb4_2" value="5">
              <label>5</label>
            </li>
            </ul>

          <label class="statement">(*)請問您認為這個 Audio Captcha 有什麼優點，讓你覺得喜歡或容易回答？</label>
          <input type="text" name="text_fb4_1" id="text_fb4_1"/>

          <!-- <label class="statement">Do you prefer the current alphanumeric audio CAPTCHAs you already use relative to this design?</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="likert_fb1_3" value="yes"  checked>
              <label>Yes</label>
            </li>
            <li>
              <input type="radio" name="likert_fb1_3" value="no">
              <label>No</label>
            </li>
          </ul> -->
          <label class="statement">(*)請問您認為這個 Audio Captcha 有什麼缺點，讓你覺得不喜歡或難回答？</label>
          <input type="text" name="text_fb4_2" id="text_fb4_2"/>

          <label class="statement">對於這個 Audio Captcha 您是否有什麼建議以及想法可以分享給我們？</label>
          <input type="text" name="text_fb4_3" id="text_fb4_3"/>

          <input type="button" id="feedbacknext4" name="feedbacknext4" class="feedbacknext4 action-button" value="Submit" onclick="before_submit();"/>
        </fieldset>
    
    
  </div>
</form>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

  

    <script  src="js/index.js"></script>
    <script>
      var timer = setTimeout(function() {
          document.getElementById('late').value = 'yes';
          document.getElementById("myform").submit();
        }, 3600000);
    </script>

</body>

</html>
