<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>AdvCAPTCHA survey</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">  
      <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div id="msform">
    <ul id="progressbar">
      <li class="active">Demographic</li>
      <li class="active">練習</li>
      <li class="active">Prototype 1</li>
      <li class="active">Feedback 1</li>
      <li class="active">Prototype 2</li>
      <li class="active">Feedback 2</li>
      <li class="active">Prototype 3</li>
      <li class="active">Feedback 3</li>
      <li class="active">Prototype 4</li>
      <li class="active">Feedback 4</li>
      <li class="active">Finish</li>
    </ul>
  <fieldset>
    <h2 class="fs-title">謝謝您的參與，我們會儘速發送禮券給您!</h2>

  </fieldset>
</div>
</body>

</html>
